h1{color: ; text-align: center; font-size:40px}

body {background-color: lightgrey}
p{text-align: center; font-size:40px}
div {  display: flex;
  justify-content: center;}
img {  width: 90%;}

j{text-align: left; font-size:25px}

img src="image_menu_riche.png"{width:50px; height:50px}

mk{font-size:20px}}

table{
  border-collapse: collapse;
}

td,th{
  padding: 80px
}
ol{
  font-size:20px
}